<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>

    {{!-- Bootstrap core CSS --}}
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />

    {{!-- Custom styles --}}
    <link rel='stylesheet' href='/public/css/style.css' />
    <link rel='stylesheet' href='/public/css/simple-sidebar.css' />
    
    {{!-- Custom styles sent by routers --}}
    {{#each stylesheets}}
    <link rel='stylesheet' href='{{stylesheet}}' />
    {{/each}}

</head>

<body>
    {{!-- Navbar --}}
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light border-bottom">
        <a class="navbar-brand" href="/">AHCH</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cases">Cases <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addcase">Add Case <span class="sr-only">(current)</span></a>
                </li>
                {{!-- Search Bar --}}
                <form class="form-inline">
                    <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            </ul>
        </div>
    </nav>


    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="/cases" class="list-group-item list-group-item-action bg-light">Case</a>
                <a href="/cases/referral" class="list-group-item list-group-item-action bg-light">Referral</a>
                <a href="/cases/patients" class="list-group-item list-group-item-action bg-light">Patients</a>
                <a href="/cases/medical" class="list-group-item list-group-item-action bg-light">Medical</a>
                <a href="/cases/family" class="list-group-item list-group-item-action bg-light">Family</a>
                <a href="/cases/history" class="list-group-item list-group-item-action bg-light">History</a>
                <a href="/cases/services" class="list-group-item list-group-item-action bg-light">Services</a>
                <a href="/cases/staff" class="list-group-item list-group-item-action bg-light">Staff</a>
                <a href="/cases/mentalhealth" class="list-group-item list-group-item-action bg-light">Mental Health</a>
                <a href="/cases/recommendation"
                    class="list-group-item list-group-item-action bg-light">Recommendation</a>
                <a href="/cases/familyrecommendation" class="list-group-item list-group-item-action bg-light">Family
                    Recommendation</a>
                <a href="/cases/notes" class="list-group-item list-group-item-action bg-light">Notes</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <div class="container" id="page-content-wrapper">
            {{{body}}}
        </div>

    </div>

    {{!-- Bootstrap core JavaScript --}}
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    {{!-- Utilities --}}
    <script src='/public/js/utilities.js'></script>
    <script src='/public/js/scrollFix.js'></script>

    {{!-- Custom scripts sent by routers --}}
    {{#each scripts}}
    <script src="{{script}}"></script>
    {{/each}}

</body>

</html>