<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="#section1" class="list-group-item list-group-item-action bg-light">Section I</a>
        <a href="#section2" class="list-group-item list-group-item-action bg-light">Section II</a>
        <a href="#section3" class="list-group-item list-group-item-action bg-light">Section III</a>
        <a href="#section4" class="list-group-item list-group-item-action bg-light">Section IV</a>
        <a href="#section5" class="list-group-item list-group-item-action bg-light">Section V</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div class="container" id="page-content-wrapper">

    <div class="row justify-content-center" id="section1" style="margin-top: 5px;">
        <h2>Intake Form</h2>
    </div>

    {{!-- TODO: Figure out how to center this, add required fields --}}
    <div class='input-form justify-content-center needs-validation' novalidate>
        <form>
            <div class="form-group row">
                <label for="inputFamilyName" class="col-sm-2 col-form-label">Family Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control  form-control-sm" id="inputFamilyName">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputSecondaryFamilyName" class="col-sm-2 col-form-label">Secondary Family Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control  form-control-sm" id="inputSecondaryFamilyName">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputNJSpiritNum" class="col-sm-2 col-form-label">NJ Spirit Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control  form-control-sm" id="inputNJSpiritNum">
                </div>
            </div>

            <div class="border-top my-3"></div>

            <div class="row justify-content-center">
                <h4>Attachments</h4>
            </div>


            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">DYFS 9-7</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>

            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Case Assessment Parts I-IV</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                </div>
            </div>

            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">DYFS Form 26-81</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile03">
                    <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
                </div>
            </div>

            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Verified Complaint</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile04">
                    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                </div>
            </div>

            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Court Orders</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile05">
                    <label class="custom-file-label" for="inputGroupFile05">Choose file</label>
                </div>
            </div>

            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Safety Assessment</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile06">
                    <label class="custom-file-label" for="inputGroupFile06">Choose file</label>
                </div>
            </div>



            {{!-- TODO: Add Additional Default Attachments --}}

            <div class="row justify-content-center">
                <button type="button" class="btn btn-secondary btn-sm">Add Additional Attachment</button>
            </div>


            {{!------------------- SECTION 1 -------------------}}
            <div class="border-top my-3"></div>

            <div class="row justify-content-center">
                <h4>Section I</h4>
            </div>

            <div class="form-group row">
                <label for="inputPatientName" class="col-sm-2 col-form-label">Patient Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control  form-control-sm" id="inputPatientName">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputDateOfLastAbuseContact" class="col-sm-2 col-form-label">Date of Last
                    Abuse/Contact</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control form-control-sm" id="inputDateOfLastAbuseContact">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmergency" class="col-sm-2 col-form-label">Emergency</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline  form-control-sm">
                        <input class="form-check-input" type="radio" name="emergencyRadioOptions" id="radioEmergencyYes"
                            value="Yes">
                        <label class="form-check-label" for="radioEmergencyYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline  form-control-sm">
                        <input class="form-check-input" type="radio" name="emergencyRadioOptions" id="radioEmergencyNo"
                            value="No">
                        <label class="form-check-label" for="radioEmergencyNo">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPatientStatus" class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-10">
                    <select class="form-control form-control-sm">
                        <option hidden>Select...</option>
                        <option>Attended</option>
                        <option>Scheduled</option>
                        <option>Cancelled</option>
                        <option>Missed</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputDateToday" class="col-sm-2 col-form-label">Today's Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control  form-control-sm" id="inputDateToday">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputAbuseType" class="col-sm-2 col-form-label">Type of Abuse</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline form-control-sm">
                        <input class="form-check-input" type="checkbox" id="checkAbuseNeglect" value="Neglect">
                        <label class="form-check-label" for="checkAbuseNeglect">Neglect</label>
                    </div>
                    <div class="form-check form-check-inline form-control-sm">
                        <input class="form-check-input" type="checkbox" id="checkAbuseSexual" value="Sexual Abuse">
                        <label class="form-check-label" for="checkAbuseSexual">Sexual Abuse</label>
                    </div>
                    <div class="form-check form-check-inline form-control-sm">
                        <input class="form-check-input" type="checkbox" id="checkAbuseInstitutional"
                            value="Institutional Abuse">
                        <label class="form-check-label" for="checkAbuseInstitutional">Institutional Abuse</label>
                    </div>
                    <div class="form-check form-check-inline form-control-sm">
                        <input class="form-check-input" type="checkbox" id="checkAbusePhysical" value="Physical Abuse">
                        <label class="form-check-label" for="checkAbusePhysical">Physical Abuse</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmergency" class="col-sm-2 col-form-label">Evaluations Request</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline form-control-sm">
                        <input class="form-check-input" type="checkbox" id="checkEvalPsychological"
                            value="Psychological">
                        <label class="form-check-label" for="checkEvalPsychological">Psychological</label>
                    </div>
                    <div class="form-check form-check-inline form-control-sm">
                        <input class="form-check-input" type="checkbox" id="checkEvalForensic" value="Forensic">
                        <label class="form-check-label" for="checkEvalForensic">Forensic</label>
                    </div>
                    <div class="form-check form-check-inline form-control-sm">
                        <input class="form-check-input" type="checkbox" id="checkEvalMedical" value="Medical">
                        <label class="form-check-label" for="checkEvalMedical">Medical</label>
                    </div>
                    <div class="form-check form-check-inline form-control-sm">
                        <input class="form-check-input" type="checkbox" id="checkEvalParenting" value="Parenting">
                        <label class="form-check-label" for="checkEvalParenting">Parenting</label>
                    </div>
                    <div class="form-check form-check-inline form-control-sm">
                        <input class="form-check-input" type="checkbox" id="checkEvalNeuro" value="Neuropsychological">
                        <label class="form-check-label" for="checkEvalNeuro">Neuropsychological</label>
                    </div>
                    <div class="form-check form-check-inline form-control-sm">
                        <input class="form-check-input" type="checkbox" id="checkEvalMedConsult"
                            value="Medical Consult">
                        <label class="form-check-label" for="checkEvalMedConsult">Medical Consult</label>
                    </div>
                </div>
            </div>


            <div class="border-top my-3"></div>


            <div class="form-group row">
                <label for="inputCaseWorkerName" class="col-sm-2 col-form-label">Case Worker Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control  form-control-sm" id="inputCaseWorkerName">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputCaseWorkerPhone" class="col-sm-2 col-form-label">Case Worker Phone #</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control form-control-sm" id="inputCaseWorkerPhone">
                </div>
            </div>

            <div class="border-top my-3"></div>

            <div class="form-group row">
                <label for="inputSupervisorName" class="col-sm-2 col-form-label">Name of Supervisor</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="inputSupervisorName">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputSupervisorEmail" class="col-sm-2 col-form-label">Supervisor Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="inputSupervisorEmail">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputSupervisorPhone" class="col-sm-2 col-form-label">Supervisor Phone #</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control form-control-sm" id="inputSupervisorPhone">
                </div>
            </div>

            <div class="border-top my-3"></div>

            <div class="form-group row">
                <label for="inputAgency" class="col-sm-2 col-form-label">Agency</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="inputAgency">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputAgencyAddress" class="col-sm-2 col-form-label">Agency Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="inputAgencyAddress">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputAgencyCity" class="col-sm-2 col-form-label">Agency City</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="inputAgencyCity">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputAgencyState" class="col-sm-2 col-form-label">Agency State</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="inputAgencyState">
                </div>
            </div>


            <div class="form-group row">
                <label for="inputAgencyPhone" class="col-sm-2 col-form-label">Agency Phone #</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control form-control-sm" id="inputAgencyPhone">
                </div>
            </div>


            {{!------------------- SECTION 2 -------------------}}
            <div class="border-top my-3" id='section2'></div>

            <div class="row justify-content-center">
                <h4>Section II</h4>
            </div>

            <div class="form-group row">
                <label for="inputReferredMemberName" class="col-sm-2 col-form-label">Referred Member #1</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="inputReferredMemberName">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmergency" class="col-sm-2 col-form-label">Gender</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline  form-control-sm">
                        <input class="form-check-input" type="radio" name="genderRadioOptions" id="inputGenderM"
                            value="M">
                        <label class="form-check-label" for="inputGenderM">M</label>
                    </div>
                    <div class="form-check form-check-inline  form-control-sm">
                        <input class="form-check-input" type="radio" name="genderRadioOptions" id="inputGenderF"
                            value="F">
                        <label class="form-check-label" for="inputGenderF">F</label>
                    </div>
                    <div class="form-check form-check-inline  form-control-sm">
                        <input class="form-check-input" type="radio" name="genderRadioOptions" id="inputGenderOther"
                            value="Other">
                        <label class="form-check-label" for="inputGenderOther">Other</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputReferredMemberNameDOB" class="col-sm-2 col-form-label">Date of Birth</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control  form-control-sm" id="inputReferredMemberDOB">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputReferredMemberSSN" class="col-sm-2 col-form-label">SSN</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="inputReferredMemberSSN">
                </div>
            </div>


            <div class="form-group row">
                <label for="inputReferredMemberAddress" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="inputReferredMemberAddress">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputReferredMemberCity" class="col-sm-2 col-form-label">City</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="inputReferredMemberCity">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputReferredMemberState" class="col-sm-2 col-form-label">State</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="inputReferredMemberState">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputReferredMemberLivesWith" class="col-sm-2 col-form-label">Lives With</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="inputReferredMemberLivesWith">
                </div>
            </div>

            <div class="row justify-content-center">
                <button type="button" class="btn btn-secondary btn-sm">Add Additional Member</button>
            </div>



            {{!------------------- SECTION 3 -------------------}}
            <div class="border-top my-3" id='section3'></div>

            <div class="row justify-content-center">
                <h4>Section III</h4>
            </div>

            <div class="form-group row">
                <label class="col-sm-12 col-form-label">Primary Language</label>
                <label for="inputLanguageSpokenParent" class="col-sm-2 col-form-label">Parent:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="inputLanguageSpokenParent">
                </div>
                <label for="inputLanguageSpokenChild" class="col-sm-2 col-form-label">Child:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="inputLanguageSpokenChild">
                </div>
            </div>


            <div class="form-group row">
                <label for="inputLegalGuardianName" class="col-sm-12 col-form-label">Legal Guardian Name</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" id="inputLegalGuardianName">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputLegalGuardianRelationship" class="col-sm-12 col-form-label">Legal Guardian's
                    Relationship to Child</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" id="inputLegalGuardianRelationship">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputSeen" class="col-sm-12 col-form-label">Has the child been seen medically or
                    psychologically for this current disclosure?</label>
                <div class="col-sm-12">
                    <div class="form-check form-check-inline  form-control-sm">
                        <input class="form-check-input" type="radio" name="seenRadioOptions" id="inputSeenYes"
                            value="Yes">
                        <label class="form-check-label" for="inputSeenYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline  form-control-sm">
                        <input class="form-check-input" type="radio" name="seenRadioOptions" id="inputSeenNo"
                            value="No">
                        <label class="form-check-label" for="inputSeenNo">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputLegalGuardianName" class="col-sm-12 col-form-label">If so, when and where?</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputFamilyName" class="col-sm-12 col-form-label">Family Name</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" id="inputFamilyName">
                </div>
            </div>



            {{!------------------- SECTION 4 -------------------}}
            <div class="border-top my-3" id='section4'></div>

            <div class="row justify-content-center">
                <h4>Section IV</h4>
            </div>

            <div class="form-group row">
                <label for="inputReferralReason" class="col-sm-12 col-form-label">What is the reason for the
                    referral?</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputQuestions" class="col-sm-12 col-form-label">What questions do you hope to answer
                    through
                    this evauluation?</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputHadDisclosure" class="col-sm-12 col-form-label">Was there a disclosure?</label>
                <div class="col-sm-12">
                    <div class="form-check form-check-inline  form-control-sm">
                        <input class="form-check-input" type="radio" name="disclosureRadioOptions" id="inputDisclosureYes"
                            value="Yes">
                        <label class="form-check-label" for="inputDisclosureYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline  form-control-sm">
                        <input class="form-check-input" type="radio" name="disclosureRadioOptions" id="inputDisclosureNo"
                            value="No">
                        <label class="form-check-label" for="inputDisclosureNo">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputHadDisclosure" class="col-sm-12 col-form-label">If yes, what was the
                    disclosure?</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputDisclosureCircumstances" class="col-sm-12 col-form-label">Please provide circumstances
                    of the
                    disclosure. (How, when, where, and to whom)</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputInterviewed" class="col-sm-12 col-form-label">Was the child interviewed?</label>
                <div class="col-sm-12">
                    <div class="form-check form-check-inline  form-control-sm">
                        <input class="form-check-input" type="radio" name="interviewRadioOptions" id="inputInterviewYes"
                            value="Yes">
                        <label class="form-check-label" for="inputInterviewYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline  form-control-sm">
                        <input class="form-check-input" type="radio" name="interviewRadioOptions" id="inputInterviewNo"
                            value="No">
                        <label class="form-check-label" for="inputInterviewNo">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputInterviewer" class="col-sm-12 col-form-label">If yes, by whom and when?</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputInterviewStatements" class="col-sm-12 col-form-label">Statements made by child during
                    interview</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPerpetratorInfo" class="col-sm-12 col-form-label">Where is the perpetrator located now
                    and has he/she been charged?</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea>
                </div>
            </div>


            {{!------------------- SECTION 5 -------------------}}
            <div class="border-top my-3" id='section5'></div>

            <div class="row justify-content-center">
                <h4>Section V</h4>
            </div>

            <div class="form-group row">
                <label for="inputDYFSInvolvement" class="col-sm-12 col-form-label">Previous DYFS Involvement with
                    family:</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputOtherHistory" class="col-sm-12 col-form-label">Other pertinent history and/or specific
                    issue:</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputBehavior" class="col-sm-12 col-form-label">Sexualized behaviours and/or behavior
                    changes?</label>
                <div class="col-sm-12">
                    <textarea class="form-control form-control-sm" aria-label="With textarea"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-12 col-form-label">Previous Evaluations Completed</label>

                <label class="col-sm-1 col-form-label">Type</label>
                <div class="col-sm-2">
                    <select class="form-control form-control-sm">
                        <option hidden>Select...</option>
                        <option>Psychological</option>
                        <option>Forensic</option>
                        <option>Medical</option>
                        <option>Parenting</option>
                        <option>Neuropsychological</option>
                        <option>Medical Consult</option>
                    </select>
                </div>

                <label class="col-sm-1 col-form-label">Date</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control  form-control-sm" id="inputPreviousEvalDate1">
                </div>


                <label class="col-sm-2 col-form-label">Completed By</label>
                <div class="col-sm-3">
                    <select class="form-control form-control-sm">
                        {{!-- Insert Staff Members Here --}}
                        <option hidden>Select...</option>
                        <option>Staff 1</option>
                        <option>Staff 2</option>
                    </select>
                </div>
            </div>

            <div class="row justify-content-center">
                <button type="button" class="btn btn-secondary btn-sm">Add Additional Evaluation</button>
            </div>
        </form>
    </div>



    <div class="border-top my-3"></div>

    <div class="row justify-content-center" style="margin-top: 10px; margin-bottom: 10px;">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>



</div>


</div>