<div id="wrapper">
    {{!-- Sidebar --}}
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a href="#top">Top</a></li>
            <li><a href="#section1">Section I</a></li>
            <li><a href="#section2">Section II</a></li>
            <li><a href="#section3">Section III</a></li>
            <li><a href="#section4">Section IV</a></li>
            <li><a href="#section5">Section V</a></li>
        </ul>
    </div>

    {{!-- Main Page Content, Shifts over when window is small --}}
    <div class="page-content-wrapper">
        <div class="container">
            <div class="row">

                <div id="top" class="col-md-12 text-center">
                    <h2>Intake Form</h2>
                </div>

                <div class="col-md-12">
                    <form action="/addcase/submitIntake" method="POST">

                        {{!----------------- INITIAL INFO ------------------}}
                        <div id="initial-info">

                            <div class="form-group row">
                                <label for="input-family-name" class="col-sm-3 col-form-label col-form-label-sm">Family
                                    Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" id="input-family-name"
                                        name="familyName" autocomplete="off" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-secondary-familyName"
                                    class="col-sm-3 col-form-label col-form-label-sm">Secondary Family
                                    Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                        id="input-secondary-familyName" name="familyNameSecondary" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-NJ-spirit-number" class="col-sm-3 col-form-label col-form-label-sm">NJ
                                    Spirit
                                    Number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control  form-control-sm" id="input-NJ-spirit-number"
                                        name="spiritNumber" autocomplete="off" required>
                                </div>
                            </div>

                            <div class="border-top my-3"></div>

                            <div class="row justify-content-center">
                                <h4>Attachments</h4>
                            </div>

                            <div class="input-group mb-3 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">DYFS 9-7</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="input-DYFS-97-file"
                                        name="DYFS97File">
                                    <label class="custom-file-label" for="input-DYFS-97-file">Choose file</label>
                                </div>
                            </div>

                            <div class="input-group mb-3 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Case Assessment Parts I-IV</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="input-case-assessment-file"
                                        name="caseAssessmentFile">
                                    <label class="custom-file-label" for="input-case-assessment-file">Choose
                                        file</label>
                                </div>
                            </div>

                            <div class="input-group mb-3 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">DYFS Form 26-81</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="input-DYFS-form-file"
                                        name="DYFSFormFile">
                                    <label class="custom-file-label" for="input-DYFS-form-file">Choose file</label>
                                </div>
                            </div>

                            <div class="input-group mb-3 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Verified Complaint</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="input-verified-complaint-file"
                                        name="verifiedComplaintFile">
                                    <label class="custom-file-label" for="input-verified-complaint-file">Choose
                                        file</label>
                                </div>
                            </div>

                            <div class="input-group mb-3 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Court Orders</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="input-court-orders-file"
                                        name="courtOrdersFile">
                                    <label class="custom-file-label" for="input-court-orders-file">Choose file</label>
                                </div>
                            </div>

                            <div class="input-group mb-3 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Safety Assessment</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="input-safety-assessment-file"
                                        name="safetyAssessmentFile">
                                    <label class="custom-file-label" for="input-safety-assessment-file">Choose
                                        file</label>
                                </div>
                            </div>

                            {{!-- TODO: Add Additional Default Attachments --}}

                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-secondary btn-sm">Add Additional
                                    Attachment</button>
                            </div>

                        </div>

                        {{!------------------- SECTION 1 -------------------}}
                        <div id="section1">
                            <div class="border-top my-3"></div>

                            <div class="row justify-content-center">
                                <h4>Section I</h4>
                            </div>

                            <div class="form-group row">
                                <label for="input-patient-name"
                                    class="col-sm-2 col-form-label col-form-label-sm">Patient Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control  form-control-sm" id="input-patient-name"
                                        name="patientName" autocomplete="off" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-date-last-abuse-contact"
                                    class="col-sm-2 col-form-label col-form-label-sm">Date of Last
                                    Abuse/Contact</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control form-control-sm"
                                        id="input-date-last-abuse-contact" name="dateOfLastAbuse" autocomplete="off"
                                        required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmergency"
                                    class="col-sm-2 col-form-label col-form-label-sm">Emergency</label>
                                <div class="col-sm-10">
                                    <div class="form-check form-check-inline  form-control-sm">
                                        <input class="form-check-input" type="radio" name="emergency"
                                            id="input-emergency-yes" value="Yes" required>
                                        <label class="form-check-label" for="radioEmergencyYes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline  form-control-sm">
                                        <input class="form-check-input" type="radio" name="emergency"
                                            id="input-emergency-no" value="No" required>
                                        <label class="form-check-label" for="radioEmergencyNo" required>No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-patient-status"
                                    class="col-sm-2 col-form-label col-form-label-sm">Status</label>
                                <div class="col-sm-10">
                                    <select class="form-control form-control-sm" id="input-patient-status"
                                        name="patientStatus" required>
                                        <option hidden value="">Select...</option>
                                        <option value="attended">Attended</option>
                                        <option value="scheduled">Scheduled</option>
                                        <option value="cancelled">Cancelled</option>
                                        <option value="missed">Missed</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-date-today" class="col-sm-2 col-form-label col-form-label-sm">Today's
                                    Date</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control form-control-sm" id="input-date-today"
                                        name="dateToday" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-abuse-type" class="col-sm-2 col-form-label col-form-label-sm">Type of
                                    Abuse</label>
                                <div class="col-sm-10">

                                    <div class="form-check form-check-inline form-control-sm">
                                        <input class="form-check-input" type="checkbox" id="input-abuse-neglect"
                                            name="abuseType" value="Neglect">
                                        <label class="form-check-label" for="input-abuse-neglect">Neglect</label>
                                    </div>

                                    <div class="form-check form-check-inline form-control-sm">
                                        <input class="form-check-input" type="checkbox" id="input-abuse-sexual"
                                            name="abuseType" value="Sexual Abuse">
                                        <label class="form-check-label" for="input-abuse-sexual">Sexual Abuse</label>
                                    </div>

                                    <div class="form-check form-check-inline form-control-sm">
                                        <input class="form-check-input" type="checkbox" id="input-abuse-institutional"
                                            name="abuseType" value="Institutional Abuse">
                                        <label class="form-check-label" for="input-abuse-institutional">Institutional
                                            Abuse</label>
                                    </div>

                                    <div class="form-check form-check-inline form-control-sm">
                                        <input class="form-check-input" type="checkbox" id="input-abuse-physical"
                                            name="abuseType" value="Physical Abuse">
                                        <label class="form-check-label" for="input-abuse-physical">Physical
                                            Abuse</label>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmergency"
                                    class="col-sm-2 col-form-label col-form-label-sm">Evaluations Request</label>
                                <div class="col-sm-10">
                                    <div class="form-check form-check-inline form-control-sm">
                                        <input class="form-check-input" type="checkbox" id="input-eval-psychological"
                                            name="evaluationRequest" value="Psychological">
                                        <label class="form-check-label"
                                            for="input-eval-psychological">Psychological</label>
                                    </div>
                                    <div class="form-check form-check-inline form-control-sm">
                                        <input class="form-check-input" type="checkbox" id="input-eval-forensic"
                                            name="evaluationRequest" value="Forensic">
                                        <label class="form-check-label" for="input-eval-forensic">Forensic</label>
                                    </div>
                                    <div class="form-check form-check-inline form-control-sm">
                                        <input class="form-check-input" type="checkbox" id="input-eval-medical"
                                            name="evaluationRequest" value="Medical">
                                        <label class="form-check-label" for="input-eval-medical">Medical</label>
                                    </div>
                                    <div class="form-check form-check-inline form-control-sm">
                                        <input class="form-check-input" type="checkbox" id="input-eval-parenting"
                                            name="evaluationRequest" value="Parenting">
                                        <label class="form-check-label" for="input-eval-parenting">Parenting</label>
                                    </div>
                                    <div class="form-check form-check-inline form-control-sm">
                                        <input class="form-check-input" type="checkbox"
                                            id="input-eval-neuropsychological" name="evaluationRequest"
                                            value="Neuropsychological">
                                        <label class="form-check-label" for="checkEvalNeuro">Neuropsychological</label>
                                    </div>
                                    <div class="form-check form-check-inline form-control-sm">
                                        <input class="form-check-input" type="checkbox" id="input-eval-medical"
                                            name="evaluationRequest" value="Medical Consult">
                                        <label class="form-check-label" for="input-eval-medical">Medical
                                            Consult</label>
                                    </div>
                                </div>
                            </div>

                            <div class="border-top my-3"></div>

                            <div class="form-group row">
                                <label for="input-case-worker-name"
                                    class="col-sm-2 col-form-label col-form-label-sm">Case
                                    Worker
                                    Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="input-case-worker-name"
                                        autocomplete="off" name="caseWorkerName">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="nput-case-worker-phone"
                                    class="col-sm-2 col-form-label col-form-label-sm">Case
                                    Worker Phone
                                    #</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control form-control-sm" id="input-case-worker-phone"
                                        autocomplete="off" name="caseWorkerPhone">
                                </div>
                            </div>

                            <div class="border-top my-3"></div>

                            <div class="form-group row">
                                <label for="input-supervisor-name"
                                    class="col-sm-2 col-form-label col-form-label-sm">Name
                                    of
                                    Supervisor</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="input-supervisor-name"
                                        autocomplete="off" name="supervisorName">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-supervisor-email"
                                    class="col-sm-2 col-form-label col-form-label-sm">Supervisor
                                    Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control form-control-sm" id="input-supervisor-email"
                                        autocomplete="off" name="supervisorEmail">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-supervisor-phone"
                                    class="col-sm-2 col-form-label col-form-label-sm">Supervisor Phone
                                    #</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control form-control-sm" id="input-supervisor-phone"
                                        autocomplete="off" name="supervisorPhone">
                                </div>
                            </div>

                            <div class="border-top my-3"></div>

                            <div class="form-group row">
                                <label for="input-agency-name" class="col-sm-2 col-form-label col-form-label-sm">Agency
                                    Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="input-agency"
                                        autocomplete="off" name="agencyName">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-agency-address"
                                    class="col-sm-2 col-form-label col-form-label-sm">Agency
                                    Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="inputAgencyAddress"
                                        autocomplete="off" name="agencyAddress">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-agency-city" class="col-sm-2 col-form-label col-form-label-sm">Agency
                                    City</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="input-agency-city"
                                        autocomplete="off" name="agencyCity">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-agency-state" class="col-sm-2 col-form-label col-form-label-sm">Agency
                                    State</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="input-agency-state"
                                        autocomplete="off" name="agencyState">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="input-agency-phone" class="col-sm-2 col-form-label col-form-label-sm">Agency
                                    Phone #</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control form-control-sm" id="input-agency-phone"
                                        autocomplete="off" name="agencyPhone">
                                </div>
                            </div>

                        </div>

                        {{!------------------- SECTION 2 -------------------}}
                        <div id="section2">

                            <div class="border-top my-3"></div>

                            <div class="row justify-content-center">
                                <h4>Section II</h4>
                            </div>

                            <div class="form-group row">
                                <label for="input-referred-member-name"
                                    class="col-sm-2 col-form-label col-form-label-sm">Referred Member
                                    #1</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm"
                                        autocomplete="off" id="input-referred-member-name" name="referredMemberName1">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-referred-member-gender"
                                    class="col-sm-2 col-form-label col-form-label-sm">Gender</label>
                                <div class="col-sm-10">
                                    <div class="form-check form-check-inline  form-control-sm">
                                        <input class="form-check-input" type="radio"
                                            id="input-gender-m" value="M" name="referredMemberGender1">
                                        <label class="form-check-label" for="input-gender-m">M</label>
                                    </div>
                                    <div class="form-check form-check-inline  form-control-sm">
                                        <input class="form-check-input" type="radio" 
                                            id="input-gender-f" value="F" name="referredMemberGender1">
                                        <label class="form-check-label" for="input-gender-f">F</label>
                                    </div>
                                    <div class="form-check form-check-inline  form-control-sm">
                                        <input class="form-check-input" type="radio"
                                            id="input-gender-other" value="Other" name="referredMemberGender1">
                                        <label class="form-check-label" for="input-gender-other">Other</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-referred-member-DOB"
                                    class="col-sm-2 col-form-label col-form-label-sm">Date of
                                    Birth</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control form-control-sm"
                                        id="input-referred-member-DOB" name="referredMemberDOB1">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-referred-member-SSN"
                                    class="col-sm-2 col-form-label col-form-label-sm">SSN</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm"
                                        autocomplete="off" id="input-referred-member-SSN" name="referredMemberSSN1">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="input-referred-member-address"
                                    class="col-sm-2 col-form-label col-form-label-sm">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm"
                                        autocomplete="off" id="input-referred-member-address" name="referredMemberAddress1">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-referred-member-city"
                                    class="col-sm-2 col-form-label col-form-label-sm">City</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm"
                                        autocomplete="off" id="input-referred-member-city" name="referredMemberCity1">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-referred-member-state"
                                    class="col-sm-2 col-form-label col-form-label-sm">State</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm"
                                        autocomplete="off" id="input-referred-member-state" name="referredMemberState1">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-referred-member-lives-with"
                                    class="col-sm-2 col-form-label col-form-label-sm">Lives
                                    With</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm"
                                        autocomplete="off" id="input-referred-member-lives-with" name="referredMemberLivesWith1">
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-secondary btn-sm">Add Additional Member</button>
                            </div>
                        </div>

                        {{!------------------- SECTION 3 -------------------}}
                        <div id="section3">
                            <div class="border-top my-3"></div>

                            <div class="row justify-content-center">
                                <h4>Section III</h4>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label col-form-label-sm">Primary Language</label>
                                <label for="input-language-spoken-parent"
                                    class="col-sm-2 col-form-label col-form-label-sm">Parent:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-sm"
                                        autocomplete="off" id="input-language-spoken-parent" name="patentLanguage">
                                </div>
                                <label for="input-language-spoken-child"
                                    class="col-sm-2 col-form-label col-form-label-sm">Child:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-sm"
                                        autocomplete="off" id="input-language-spoken-child" name="childLanguage">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="input-legal-guardian-name"
                                    class="col-sm-12 col-form-label col-form-label-sm">Legal Guardian
                                    Name</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control form-control-sm"
                                        autocomplete="off" id="input-legal-guardian-name" name="legalGuardianName">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-legal-guardian-relationship"
                                    class="col-sm-12 col-form-label col-form-label-sm">Legal
                                    Guardian's
                                    Relationship to Child</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control form-control-sm"
                                        autocomplete="off" id="input-legal-guardian-relationship" name="legalGuardianRelaitonship">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-seen" class="col-sm-12 col-form-label col-form-label-sm">Has the child
                                    been seen
                                    medically or
                                    psychologically for this current disclosure?</label>
                                <div class="col-sm-12">
                                    <div class="form-check form-check-inline  form-control-sm">
                                        <input class="form-check-input" type="radio" id="input-seen-yes" name="seen"
                                            value="Yes" required>
                                        <label class="form-check-label" for="input-seen-yes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline  form-control-sm">
                                        <input class="form-check-input" type="radio" id="input-seen-no" name="seen"
                                            value="No" required>
                                        <label class="form-check-label" for="input-seen-no">No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputLegalGuardianName"
                                    class="col-sm-12 col-form-label col-form-label-sm">If so, when and
                                    where?</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm"
                                        aria-label="With textarea"></textarea>
                                </div>
                            </div>

                        </div>

                        {{!------------------- SECTION 4 -------------------}}
                        <div id="section4">
                            <div class="border-top my-3"></div>

                            <div class="row justify-content-center">
                                <h4>Section IV</h4>
                            </div>

                            <div class="form-group row">
                                <label for="input-referral-reason"
                                    class="col-sm-12 col-form-label col-form-label-sm">What
                                    is the reason for
                                    the
                                    referral?</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" id="input-referral-reason"
                                        aria-label="With textarea" name="referralReason"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-evaluation-questions" class="col-sm-12 col-form-label col-form-label-sm">What
                                    questions do you hope
                                    to
                                    answer
                                    through
                                    this evauluation?</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" id="input-evaluation-questions"
                                        aria-label="With textarea" name="evaluationQuestions"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-had-disclosure" class="col-sm-12 col-form-label col-form-label-sm">Was
                                    there a
                                    disclosure?</label>
                                <div class="col-sm-12">
                                    <div class="form-check form-check-inline  form-control-sm">
                                        <input class="form-check-input" type="radio" name="hadDisclosure"
                                            id="input-disclosure-yes" value="Yes" required>
                                        <label class="form-check-label" for="input-disclosure-yes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline  form-control-sm">
                                        <input class="form-check-input" type="radio" name="hadDisclosure"
                                            id="input-disclosure-no" value="No" required>
                                        <label class="form-check-label" for="input-disclosure-yes">No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-disclosure-details" class="col-sm-12 col-form-label col-form-label-sm">If
                                    yes, what was the
                                    disclosure?</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" id="input-disclosure-details" 
                                        aria-label="With textarea" name="disclosureDetails"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-disclosure-circumstances"
                                    class="col-sm-12 col-form-label col-form-label-sm">Please
                                    provide
                                    circumstances
                                    of the
                                    disclosure. (How, when, where, and to whom)</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" id="input-disclosure-circumstances"
                                        aria-label="With textarea" name="disclosureCircumstances"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-interviewed" class="col-sm-12 col-form-label col-form-label-sm">Was the
                                    child
                                    interviewed?</label>
                                <div class="col-sm-12">
                                    <div class="form-check form-check-inline  form-control-sm">
                                        <input class="form-check-input" type="radio" name="interviewed"
                                            id="input-interview-yes" value="Yes">
                                        <label class="form-check-label" for="input-interview-yes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline  form-control-sm">
                                        <input class="form-check-input" type="radio" name="interviewed"
                                            id="input-interview-no" value="No">
                                        <label class="form-check-label" for="input-interview-no">No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-interviewer-info" class="col-sm-12 col-form-label col-form-label-sm">If yes,
                                    by whom and
                                    when?</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" id="input-interviewer-info"
                                        aria-label="With textarea" name="interviewerInfo"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-interview-statements"
                                    class="col-sm-12 col-form-label col-form-label-sm">Statements made
                                    by
                                    child during
                                    interview</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" id="input-interview-statements"
                                        aria-label="With textarea" name="interviewStatements"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-perpetrator-info"
                                    class="col-sm-12 col-form-label col-form-label-sm">Where is the
                                    perpetrator
                                    located now
                                    and has he/she been charged?</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" id="input-perpetrator-info"
                                        aria-label="With textarea" name="perpetratorInfo"></textarea>
                                </div>
                            </div>

                        </div>

                        {{!------------------- SECTION 5 -------------------}}
                        <div id="section5">
                            <div class="border-top my-3"></div>

                            <div class="row justify-content-center">
                                <h4>Section V</h4>
                            </div>

                            <div class="form-group row">
                                <label for="input-DYFS-involvement"
                                    class="col-sm-12 col-form-label col-form-label-sm">Previous DYFS
                                    Involvement
                                    with
                                    family:</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" id="input-DYFS-involvement"
                                        aria-label="With textarea" name="DYFSinvolvement"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-other-history" class="col-sm-12 col-form-label col-form-label-sm">Other
                                    pertinent history
                                    and/or specific
                                    issue:</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" id="input-other-history"
                                        aria-label="With textarea" name="otherHistory"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="input-behavior" class="col-sm-12 col-form-label col-form-label-sm">Sexualized
                                    behaviours and/or
                                    behavior
                                    changes?</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control form-control-sm" id="input-behavior"
                                        aria-label="With textarea" name="behavior"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label col-form-label-sm">Previous Evaluations
                                    Completed</label>

                                <label class="col-sm-1 col-form-label col-form-label-sm" for="input-previous-eval-type">Type</label>
                                <div class="col-sm-2">
                                    <select class="form-control form-control-sm" id="input-previous-eval-type" name="evaluationType1">
                                        <option value="" hidden>Select...</option>
                                        <option value="Psychological">Psychological</option>
                                        <option value="Forensic">Forensic</option>
                                        <option value="Medical">Medical</option>
                                        <option value="Parenting">Parenting</option>
                                        <option value="Neuropsychological">Neuropsychological</option>
                                        <option value="Medical Consult">Medical Consult</option>
                                    </select>
                                </div>

                                <label class="col-sm-1 col-form-label col-form-label-sm" for="input-previous-eval-date">Date</label>
                                <div class="col-sm-3">
                                    <input type="date" class="form-control  form-control-sm" id="input-previous-eval-date"
                                        name="previousEvalDate1">
                                </div>


                                <label class="col-sm-2 col-form-label col-form-label-sm" for="input-previous-eval">Completed By</label>
                                <div class="col-sm-3">
                                    <select class="form-control form-control-sm" id="input-previous-eval" name="evaluationStaff">
                                        {{!-- Insert Staff Members Here --}}
                                        <option value=""hidden>Select...</option>
                                        <option value="Staff 1">Staff 1</option>
                                        <option value="Staff 2">Staff 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-secondary btn-sm">Add Additional
                                Evaluation</button>
                        </div>

                        <div id="btn-submit-intake" class="row justify-content-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>