<div class="container-fluid">

    <div style="background:transparent !important;" class="justify-content-center text-center">
        <h2>Children's House Information Management System</h2>
    </div>

    <div class="row">
        <div class="col-md  tableFixHead" style="">
            <table class="table table-hover" id="casePreviewTable">
                <thead>
                    {{!-- style="background-color: #C0B7E5;" --}}
                    <tr>
                        <th scope="col">Case ID #</th>
                        <th scope="col">Family Name</th>
                        <th scope="col">NJ Spirit #</th>
                        <th scope="col">Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- style="background-color: #D5CCFF;" --}}
                    <tr>
                        <td scope="row">10451</td>
                        <td>Smith</td>
                        <td>274628</td>
                        <td>12/28/2019</td>
                    </tr>
                    <tr>
                        <td scope="row">10452</td>
                        <td>Jackson</td>
                        <td>583657</td>
                        <td>12/29/2019</td>
                    </tr>
                    <tr>
                        <td scope="row">10450</td>
                        <td>Jeffrey</td>
                        <td>204618</td>
                        <td>12/27/2019</td>
                    </tr>
                    <tr>
                        <td scope="row">10449</td>
                        <td>Howard</td>
                        <td>285637</td>
                        <td>12/22/2019</td>
                    </tr>
                    <tr>
                        <td scope="row">10448</td>
                        <td>Hollins</td>
                        <td>385751</td>
                        <td>12/20/2019</td>
                    </tr>
                    <tr>
                        <td scope="row">10451</td>
                        <td>Johnson</td>
                        <td>674328</td>
                        <td>11/28/2019</td>
                    </tr>
                    <tr>
                        <td scope="row">10452</td>
                        <td>Peters</td>
                        <td>283557</td>
                        <td>1/2/2020</td>
                    </tr>
                    <tr>
                        <td scope="row">10450</td>
                        <td>Kelce</td>
                        <td>304518</td>
                        <td>1/4/2020</td>
                    </tr>
                    <tr>
                        <td scope="row">10449</td>
                        <td>Mathis</td>
                        <td>685637</td>
                        <td>1/7/2020</td>
                    </tr>
                    <tr>
                        <td scope="row">10448</td>
                        <td>Barnett</td>
                        <td>985751</td>
                        <td>1/9/2020</td>
                    </tr>
                    <tr>
                        <td scope="row">10451</td>
                        <td>Wilson</td>
                        <td>564635</td>
                        <td>1/12/2019</td>
                    </tr>
                    <tr>
                        <td scope="row">10452</td>
                        <td>Elliot</td>
                        <td>684357</td>
                        <td>1/13/2019</td>
                    </tr>
                    <tr>
                        <td scope="row">10450</td>
                        <td>Graham</td>
                        <td>948576</td>
                        <td>1/20/2020</td>
                    </tr>
                    <tr>
                        <td scope="row">10449</td>
                        <td>James</td>
                        <td>876637</td>
                        <td>1/22/2020</td>
                    </tr>
                    <tr>
                        <td scope="row">10448</td>
                        <td>Joseph</td>
                        <td>345751</td>
                        <td>1/26/2020</td>
                    </tr>
                    <tr>
                        <td scope="row">10449</td>
                        <td>Bradley</td>
                        <td>873347</td>
                        <td>1/29/2020</td>
                    </tr>
                    <tr>
                        <td scope="row">10448</td>
                        <td>Scott</td>
                        <td>333751</td>
                        <td>1/31/2020</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md">
            <div id='calendar'></div>
        </div>
    </div>


</div>