<!-- Page should pull case information from database and display summary. -->

<div class="row justify-content-center">
    <h3>Case Information</h3>
</div>


<div class="row justify-content-center">
    <table class="table" style="width:70%;">
        <tr>
            <th>NJ Spirit Number</th>
            <td>#000000</td>
        </tr>
        <tr>
            <th>Family Name</th>
            <td>Smith</td>
        </tr>
        <tr>
            <th>Case Manager</th>
            <td>Dr. Pederson</td>
        </tr>
        <tr>
            <th>Case Type</th>
            <td>[insert type]</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>Active</td>
        </tr>
        <tr>
            <th>Prosecutor Case Number</th>
            <td>#000000</td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td>MM/DD/YYYY</td>
        </tr>
    </table>
</div>
