<!-- 
    Family name will be pulled from database and patient names should be stored
    with the family name. Add patient will add data point to family within case.
    
    Patient data pulled from database. Button should include form to promptly
    store information regarding Age/DOB and sex.
-->


<div class='row justify-content-center' style="margin-top: 10px;">
    <h3> Patients </h3>
</div>

<div class='row justify-content-center'>
    <p>[Family Name]</p>
</div>

<div class="row justify-content-center">

    {{!-- <table class="table table-hover" style="background-color: silver; width:200%;"> --}}
    <table class="table" style="width:70%;">
        <tr>
            <th>Patient Name</th>
            <td>Age/DOB</td>
            <td>Sex</td>
        </tr>
        <tr>
            <th>Patient Name</th>
            <td>Age/DOB</td>
            <td>Sex</td>
        </tr>
        <tr>
            <th>Patient Name</th>
            <td>Age/DOB</td>
            <td>Sex</td>
        </tr>
        <tr>
            <th>Patient Name</th>
            <td>Age/DOB</td>
            <td>Sex</td>
        </tr>
        <tr>
            <th>Patient Name</th>
            <td>Age/DOB</td>
            <td>Sex</td>
        </tr>
        <tr>
            <th>Patient Name</th>
            <td>Age/DOB</td>
            <td>Sex</td>
        </tr>
    </table>

</div>


<div class='row justify-content-center'>
    <button type="button" class="btn btn-secondary btn-sm">Add Patient</button>
</div>